.third-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-block {
  height: 35vh;
}

.second-block {
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  flex-wrap: wrap;
}

.title-container {
  text-align: center;
}

.paragraph-container p {
  width: 50%;
  margin: auto;
  text-align: justify;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 0;
}

.stats {
  color: rgba(31, 128, 134, 0.6);
  font-size: 4em;
  margin-block-start: 0;
  margin-block-end: 0;
  align-items: center;
  margin-right: 20px;
}

.second-paragraph {
  max-width: 538px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 24px;
  flex: 2;
}

.img-block {
  flex: 1;
}

.image-back {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.parag-title {
  font-size: 1.5em;
  color: var(--bg-dark-blue);
}
