.third-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-block {
  height: 35vh;
  padding: 80px;
}

.title-first-block {
  color: var(--bg-dark-blue);
  margin-bottom: 40px;
  font-size: 2.3em;
}

.second-block {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.title-container {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .image-back {
    opacity: 0.2;
  }

  .first-block {
    height: fit-content;
    padding: 40px;
  }
}
@media screen and (max-width: 560px) {
  .first-block {
    padding: 10px;
  }
}

.paragraph-container p {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
  color: #1f8086;
}

.stats-container p {
  font-size: 1.23em;
}

.stats {
  color: rgba(31, 128, 134, 0.6);
  font-size: 4em;
  margin-block-start: 0;
  margin-block-end: 0;
  align-items: center;
  text-align: center;
}

.second-paragraph {
  max-width: 538px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 24px;
  flex: 2;
}

.paragraph-wrapper {
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

.img-block {
  flex: 1;
}

.image-back {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.parag-title {
  font-size: 1.5em;
  color: var(--bg-dark-blue);
}
