.second-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: white;
  align-items: center;
  color: black;
}

.title {
  color: var(--bg-dark-blue);
}

.page-container {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
}

.image {
  width: 80%;
}

.spaced-parag {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.paragraph {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.paragraph div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph h2 {
  color: rgba(31, 128, 134, 0.6);
  font-size: 6em;
  margin-block-start: 0;
  margin-block-end: 0;
  align-items: center;
  margin-right: 20px;
}

.paragraph h4 {
  font-size: 1.83em;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  color: var(--bg-light-blue);
}

.paragraph p {
  font-size: 0.83em;
}
