.App {
  text-align: left;
  height: 100vh;
  width: 100%;
}

.spacer {
  min-height: 88px;
}

.flex-one {
  flex: 1;
  min-width: 200px;
  margin: 30px;
}

.content {
  display: flex;
  flex-direction: row;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.background {
  width: 100%;
  height: fit-content;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 780px) {
  .App {
    text-align: center;
  }
  .content {
    flex-direction: column;
  }

  .flex-one {
    margin: 0;
  }
}
@media screen and (max-width: 1088px) {
  .content {
    padding: 30px;
  }
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}

p {
  font-weight: normal;
}
h1,
h2 {
  font-weight: 700;
  font-size: 1.7em;
  margin-block-start: 0;
  font-family: "ITC Avant-Garde Gothic";
}

h3, h4 {
  font-family: "ITC Avant-Garde Gothic";
}

label {
  font-size: 0.83em;
  margin-left: 4px !important;
}

.gradient {
  background: linear-gradient(
    250.79deg,
    var(--bg-dark-blue) 5.87%,
    var(--bg-light-blue) 101.02%
  );
}

a {
  color: #1f8086;
}
