.App {
  text-align: center;
  height: 100vh;
}

.block {
  flex: 1;
  font-size: 1em;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 100px;
  padding: 25px;
}

p {
  font-weight: 600;
}
h1,
h2 {
  font-weight: 700;
  font-size: 1.83em;
}

label {
  font-size: 0.83em;
  margin-left: 4px !important;
}

.gradient {
  background: linear-gradient(
    250.79deg,
    var(--bg-dark-blue) 5.87%,
    var(--bg-light-blue) 101.02%
  );
}
